botbuilder-core>=4.13.0
botbuilder-integration-aiohttp>=4.14.0
botbuilder-dialogs>=4.14.0
botbuilder-ai>=4.14.0

os-win
nltk
numpy
pandas
keras
tensorflow
regex
asyncio
plotly
sorted_months_weekdays
sort_dataframeby_monthorweek
